language: node_js
node_js:
  - "12"
services:
  - xvfb
dist: trusty
addons:
  chrome: beta
before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
script:
  - xvfb-run npm test
